@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@400;500&display=swap');

:root {
	--roboto: 'Roboto', sans-serif;
	--inter: 'Inter', sans-serif;
}

* {
	box-sizing: border-box;
}

/* Navigation Styles */
header {
	background: #000;
	height: 40px;
}

.navbar {
	height: 40px;
	font-family: var(--roboto);
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 15px;
}

.nav-logo {
	width: 90px;
	border-right: 1px solid #fff;
}

.navbar img {
	max-width: 70px;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li {
	width: 100px;
	border-right: 1px solid #fff;
	text-align: center;
}

.nav-item a {
	color: #fff;
	text-decoration: none;
	
}

.nav-item {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in {
	width: 150px;
	padding-right: 100px;
}

.more {
	border: none;
}

.navbar input {
	height: auto;
	font-family: var(--roboto);
	font-size: 14px;
	font-weight: 500;
}

/* Main Section Styles */
.container {
	margin: 0 15px;
}

.heading-container {
	display: flex;
	justify-content: space-between;
	margin: 30px 0 15px 0;
}

.heading-container h2 {
	font-family: var(--roboto);
	font-weight: 500;
	font-size: 22px;
}

.heading-container h3 {
	font-family: var(--inter);
	font-weight: 300;
	font-size: 18px;
}

.row {
	height: 45vh;
	display: flex;
	gap: 10px;
} 

.gear-5 {
	background: linear-gradient(
		to bottom,
		rgba(0,0,0, 0) 50%,
		rgba(0,0,0, 100)),
		url(../Assets/gear-5-luffy.png);
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1 1 50%;
}

.img-text {
	color: #fff;
	font-family: var(--inter);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 20px;
	padding-bottom: 10px;
}

.img-text h1 {
	font-weight: 500;
	font-size: 24px;
}

.img-text p,
.img-text span {
	font-size: 14px;
	font-weight: 300;
}

.img-text h1,
.img-text h3,
.img-text p,
.img-text span {
	padding-bottom: 10px;
}

.img-text h3 {
	font-weight: 500;
}

.img-text p {
	line-height: 130%;
}

.aside {
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.aside .top {
	display: flex;
	gap: 10px;
	height: 50%;
	margin-bottom: 10px;
}

.shanks {
	background: linear-gradient(
		to bottom,
		rgba(0,0,0, 0) 50%,
		rgba(0,0, 0, 100)),
		url(../Assets/red-haired-shanks.png);
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 1 50%;
}

.history {
	background: linear-gradient(
		to bottom,
		rgba(0,0,0, 0) 50%,
		rgba(0,0,0, 100)),
		url(../Assets/poneglyphs.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 1 50%;
}

.aside .bottom {
	display: flex;
	gap: 10px;
	height: 50%;
}

.straw-hats {
	background: linear-gradient(
		to bottom,
		rgba(0,0,0, 0) 50%,
		rgba(0,0,0, 100)),
		url(../Assets/strawhat-wano.webp);
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 1 50%;
}

.crime {
	background: linear-gradient(
		to bottom,
		rgba(0,0,0, 0) 50%,
		rgba(0,0,0, 100)),
		url(../Assets/zunisha.webp);
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 1 50%;
}

/* News Section */
.news-section {
	height: 45vh;
}

.section-2 section {
	width: 33.3333%;
}

.section-2 img {
	width: 100%;
}